# Explore GPT-data

In [1]:
import pandas as pd
import textstat

In [2]:
df_webtext = pd.read_json(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\webtext.train.jsonl', lines=True)
df_gpt = pd.read_json(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\xl-1542M-k40.train.jsonl', lines=True)

In [16]:
df_webtext

,id,ended,length,text
0,0,True,138,These girlfriends deserves a special mention f...
1,1,True,66,LeSean McCoy going through warmups with first ...
2,2,False,1024,Tom Curran has been called up to England's Ash...
3,3,False,1024,"We'll have turkey on the table Thursday but, a..."
4,4,False,1024,The 1945 Sinkings of the Cap Arcona and the Th...
...,...,...,...,...
249995,249995,True,55,"Published: 1 month ago\n\n""The thing about say..."
249996,249996,True,550,"Asked by local newspaper Nerikes Allehanda, pr..."
249997,249997,True,924,"There is worthwhile, cinematic television happ..."
249998,249998,True,207,A path traversal vulnerability was found in th...
249999,249999,False,1024,Stats Growth Chart HP: Normal ATK: Normal RCV:...

## Data cleaning

In [36]:
df = pd.read_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\data_v1.csv')

In [89]:
df

                                                     text  label
0       These girlfriends deserves a special mention f...      0
1       LeSean McCoy going through warmups with first ...      0
2       Tom Curran has been called up to England's Ash...      0
3       We'll have turkey on the table Thursday but, a...      0
4       The 1945 Sinkings of the Cap Arcona and the Th...      0
...                                                   ...    ...
499995  There are a lot of things that I don't like ab...      1
499996  A year after an unprecedented public outcry ag...      1
499997  Battles Between the English and the Scots\n\nT...      1
499998  Kurt Rambis is the new head coach of the Knick...      1
499999  "To be a leader... you need to do this or that...      1

[500000 rows x 2 columns]

In [136]:
length_small = df['text'].apply(len).sort_values(ascending=True)

In [138]:
remove_small = length_small.index[:56]

In [137]:
length_small.iloc[56]

64

In [132]:
length_big = df['text'].apply(len).sort_values(ascending=False)

In [135]:
remove_big =  length_big.index[:7]

In [133]:
length_big.iloc[0:10]

124172    11434
203771     7362
148168     6821
285517     6817
326735     6738
153379     6731
323394     6512
232387     6325
436570     6242
117770     6218
Name: text, dtype: int64

In [139]:
df = df.drop(remove_small)
df = df.drop(remove_big)
df = df.reset_index()

In [143]:
df

         index                                               text  label
0            0  These girlfriends deserves a special mention f...      0
1            1  LeSean McCoy going through warmups with first ...      0
2            2  Tom Curran has been called up to England's Ash...      0
3            3  We'll have turkey on the table Thursday but, a...      0
4            4  The 1945 Sinkings of the Cap Arcona and the Th...      0
...        ...                                                ...    ...
499932  499995  There are a lot of things that I don't like ab...      1
499933  499996  A year after an unprecedented public outcry ag...      1
499934  499997  Battles Between the English and the Scots\n\nT...      1
499935  499998  Kurt Rambis is the new head coach of the Knick...      1
499936  499999  "To be a leader... you need to do this or that...      1

[499937 rows x 3 columns]

In [141]:
df.to_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\data_cleaned_v1.csv', index=False)

## Descriptive statistics

In [2]:
df = pd.read_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\data_cleaned_v1.csv')

In [6]:
df

         index                                               text  label
0            0  These girlfriends deserves a special mention f...      0
1            1  LeSean McCoy going through warmups with first ...      0
2            2  Tom Curran has been called up to England's Ash...      0
3            3  We'll have turkey on the table Thursday but, a...      0
4            4  The 1945 Sinkings of the Cap Arcona and the Th...      0
...        ...                                                ...    ...
499932  499995  There are a lot of things that I don't like ab...      1
499933  499996  A year after an unprecedented public outcry ag...      1
499934  499997  Battles Between the English and the Scots\n\nT...      1
499935  499998  Kurt Rambis is the new head coach of the Knick...      1
499936  499999  "To be a leader... you need to do this or that...      1

[499937 rows x 3 columns]

In [ ]:
df['word_count'] = df['text'].str.split().str.len()

In [12]:
df['flesch_kincaid'] = df['text'].apply(textstat.flesch_reading_ease)

KeyboardInterrupt:

In [10]:
textstat.flesch_reading_ease(df.loc[0, 'text'])

79.97

In [3]:
df.describe()

               index          label
count  499937.000000  499937.000000
mean   249985.943273       0.499945
std    144338.298209       0.500000
min         0.000000       0.000000
25%    124985.000000       0.000000
50%    249972.000000       0.000000
75%    374988.000000       1.000000
max    499999.000000       1.000000