# Create dataset to train detectors

In [1]:
import pandas as pd

In [2]:
df_webtext = pd.read_json(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\webtext.train.jsonl', lines=True)
df_gpt = pd.read_json(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\xl-1542M-k40.train.jsonl', lines=True)

In [3]:
df_webtext['label'] = 0
df_gpt['label'] = 1

In [4]:
df = pd.concat([df_webtext[['text', 'label']], df_gpt[['text', 'label']]], axis=0).reset_index(drop=True)
df

                                                     text  label
0       These girlfriends deserves a special mention f...      0
1       LeSean McCoy going through warmups with first ...      0
2       Tom Curran has been called up to England's Ash...      0
3       We'll have turkey on the table Thursday but, a...      0
4       The 1945 Sinkings of the Cap Arcona and the Th...      0
...                                                   ...    ...
499995  There are a lot of things that I don't like ab...      1
499996  A year after an unprecedented public outcry ag...      1
499997  Battles Between the English and the Scots\n\nT...      1
499998  Kurt Rambis is the new head coach of the Knick...      1
499999  "To be a leader... you need to do this or that...      1

[500000 rows x 2 columns]

In [7]:
df.to_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\data_v1.csv', index=False)

## Test data

In [3]:
df_webtext_test = pd.read_json(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\webtext.test.jsonl', lines=True)
df_gpt_test = pd.read_json(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\xl-1542M-k40.test.jsonl', lines=True)

In [4]:
df_webtext_test['label'] = 0
df_gpt_test['label'] = 1

In [5]:
df_test = pd.concat([df_webtext_test[['text', 'label']], df_gpt_test[['text', 'label']]], axis=0).reset_index(drop=True)
df_test

                                                   text  label
0     Is this restaurant family-friendly ? Yes No Un...      0
1     Clinton talks about her time of 'reflection' d...      0
2     House Majority Whip Steve Scalise has been dis...      0
3     Insight Course: Lesson 14\n\nControl of the Mi...      0
4     BY JENNIE MCNULTY\n\nLesbian.com\n\nYou know W...      0
...                                                 ...    ...
9995  How to make your life with your little ones ea...      1
9996  This isn't the first time I see this particula...      1
9997  AUSTIN, Texas – The NCAA on Friday approved th...      1
9998  In the previous blog post, I discussed the gen...      1
9999  It is a common observation, in certain circles...      1

[10000 rows x 2 columns]

In [7]:
df_test.to_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\data_test_v1.csv', index=False)

## Get additional human generated texts from validation dataset for futher analysis

In [2]:
df_webtext_valid = pd.read_json(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\webtext.valid.jsonl', lines=True)

In [3]:
df_webtext_valid

          id  ended  length                                               text
0     250000   True      82  This author has not credited anyone else in th...
1     250001   True     309  A medium-power earthquake with a magnitude of ...
2     250002  False    1024  Seeking to track down some of the 40 to 60 tee...
3     250003   True     514  Syracuse, NY -- Two victims of a burglary that...
4     250004   True     236  The DNC issues a formal apology to Bernie Sand...
...      ...    ...     ...                                                ...
4995  254995   True     201  The man injured in a stabbing at a Northwest P...
4996  254996   True     974  Recent events, like the tragic explosion in La...
4997  254997  False    1024  Spanish has far fewer homophones — different w...
4998  254998  False    1024  We're in a Sundar Pichai moment.\n\nIt's the w...
4999  254999  False    1024  Our Sister Republics is a book about the histo...

[5000 rows x 4 columns]

In [5]:
df_webtext_valid.to_csv(r'C:\Users\Sten\Documents\EUR BAM\Thesis\data\human_text1.csv', index=False)